# Ignore Cargo lock file in the /client directory
/client/Cargo.lock

# Ignore macOS .DS_Store files
.DS_Store

# Ignore JetBrains IntelliJ IDEA files
.idea/

# Ignore build artifacts in the target directory
target/

__pycache__/

/package/flatpack/build
/package/flatpack/dist
/package/flatpack/flatpack.sh
/package/flatpack/flatpack.egg-info
/utilities/compress_and_sign_fpk/debug.log
/utilities/compress_and_sign_fpk/decompressed_output
/utilities/compress_and_sign_fpk/private_key.pem
/utilities/compress_and_sign_fpk/public_key.pem
/utilities/convert_model_to_onnx/transformers.js/