.DS_Store

.idea/

*.gguf

__pycache__/

/package/flatpack/build
/package/flatpack/dist
/package/flatpack/venv
/package/flatpack/flatpack.egg-info
/package/flatpack/flatpack.sh
/package/flatpack/metadata.json
/package/flatpack/vector.index

/test/myenv
/test/eval_build.json
/test/eval_data.json

/utilities/compress_and_sign_fpk/compressed_file.fpk
/utilities/compress_and_sign_fpk/debug.log
/utilities/compress_and_sign_fpk/decompressed_output
/utilities/compress_and_sign_fpk/private_key.pem
/utilities/compress_and_sign_fpk/public_key.pem
/utilities/convert_model_to_onnx/transformers.js/