<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flatpack.ai</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<main>
    <section>
        <button id="test-parser-button">Test Parser</button>
    </section>

    <section>
        <div class="test-parser-result">
            <label for="test-parser-result">Result</label>
            <textarea id="test-parser-result" autocomplete="off" readonly></textarea>
            <button id="download-button" disabled>Download Dockerfile</button>
        </div>
    </section>
</main>

<script src="/static/js/main.js"></script>
</body>
</html>