body {
    font-size: 18px;
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    color: #333;
    line-height: 1.6;
}

button,
label,
.test-parser-result textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 0;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    margin-bottom: 15px;
    font-size: 18px;
}

select:focus {
    border-color: #007BFF;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 0;
    background-color: #5865f2;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-bottom: 15px;
}

button:hover {
    background-color: #5865f2;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:last-of-type {
    margin-bottom: 0;
}

main {
    max-width: 800px;
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

.test-parser-result textarea {
    width: 100%;
    height: 400px;
    resize: none;
    border: 0;
    padding: 10px;
    background: #333;
    color: #fff;
    box-sizing: border-box;
    margin-bottom: 0;
}

.test-parser-result textarea:focus {
    border-color: #007BFF;
}

.test-parser-pyenv-result textarea {
    width: 100%;
    height: 400px;
    resize: none;
    border: 0;
    padding: 10px;
    background: #333;
    color: #fff;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.test-parser-pyenv-result textarea:focus {
    border-color: #007BFF;
}