html, body {
    background: #f0f2ff;
    font-family: Arial;
    line-height: 1.5em;
}

a {
    color: #5865F2;
}

a:hover {
    text-decoration: none;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

#logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 40px;
}

#logo img {
    border-radius: 20px;
}

#meta {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}